<li @onclick="() => OnItemClicked.InvokeAsync(Item)">
    @Item (@_renderCount)
</li>

@code 
{
    private int _renderCount;
    
    [Parameter] public string? Item { get; set; }
    [Parameter] public EventCallback<string> OnItemClicked { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        _renderCount++;
    }
}