@page "/"

<span>Render: @_renderCount</span>
<div>
    <ToDoList Items="_items" 
              OnAddItemRequested="AddItemToList"
              OnDeleteItemRequested="RemoveItemFromList" />
</div>

@code
{
    private int _renderCount;
    private readonly List<string> _items = new();

    public void RemoveItemFromList(string item)
    {
        _items.Remove(item);
    }

    private void AddItemToList(string item)
    {
        _items.Add(item);
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        _renderCount++;
    }
}
